/* 全体で共通のCSSはこのファイルに記述する */
*{
  margin: 0 0;
  padding: 0 0;
}

html {
  width: 100%;
}
body {
  width: 100%;
}

a {
  margin: 0 0;
  padding: 0 0;
}

#first_viwe {
  position: relative;
  height:180vh;
  font-weight: normal;
  font-size:12pt;
  font-family:"ヒラギノ明朝 Pro W3",serif;
}

.header-image{
  background-image: url(./img/first.jpg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  padding: 20px 20px 20px 20px;

}
.title{
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width:auto;
  width: 50%;
}

.hazimeni{
  position: relative;
  background-color: #ffffff;
}

.section-title{
  position: relative;
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 340px;
}

#round{
  background-color: #f1e0c4;
  height:1000px;
}
.round1 {
  position:absolute;
  top:350px;
  left:-50px;
  height: 50vw;
  width:50vw;
  background-color: #ffffff;
  border: solid 10px #c14140;
  border-radius: 50%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.round1_inner{
  width:30vw;
  height:30vw;
}

.round1_inner h1{
  font-weight: normal;
  font-size:25pt;
  font-family:"ヒラギノ明朝 Pro W3",serif;
}
.round1_inner p{
  font-weight: normal;
  font-size:12pt;
  font-family:"ヒラギノ明朝 Pro W3",serif;
}

.round1_inner img{
  width: 400px;
}

.round2 {
  position:absolute;
  top:600px;
  right:-50px;
  height: 50vw;
  width:50vw;
 background-color: #ffffff;
 border: solid 10px #c14140;
 border-radius: 50%;
 display:flex;
 justify-content: center;
 align-items: center;
}
.round2_inner{
  width:30vw;
  height:30vw;
}

.round2_inner p{
  font-weight: normal;
  font-size:12pt;
  font-family:"ヒラギノ明朝 Pro W3",serif;
}

#sansaiSlot {
  position: relative;
  width: 100vw;
  min-height: 500px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 60px 0 100px 0;

}

#sansaiSlot .items {
  position: relative;
  margin: 30px 0 50px 0;
  width: 100%;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}

#sansaiSlot .items .cross{
  width: 30px;

}

.slot {
  position: relative;
  display: none;
  opacity: 0;
  width: 400px;
  height: 300px;
  margin: 0px 10px 0px 10px;
  -webkit-transition: 3.0s ease-in-out;
  -moz-transition: 3.0s ease-in-out;
  transition: 3.0s ease-in-out;
}


.slot .textcard{
  margin-left: 70px;
  width: 50px;
  height: auto;
  padding: 10px 0 10px 0;
  background-color: white;
  box-shadow: 1px 1px 1px 1px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slot .textcard p{
  font-size: 20px;
  width: 20px;
}

.slot img{
  width: 150px;
  position: absolute;
  width: 150px;
  left:calc(50% - 75px);
  bottom: 30px;
  z-index: 500;
}

.slot img.dish{
  position: absolute;
  width: 250px;
  left:calc(50% - 125px);
  bottom: 0px;
}

.visible {
  display: block!important;
  opacity: 1.0;
  -webkit-transition: 3.0s ease-in-out;
  -moz-transition: 3.0s ease-in-out;
  transition: 3.0s ease-in-out;
}

.linecontents{
  width:80%;
  margin: 0 auto;
  display:flex;
  justify-content: space-around;
}

.card{
  margin: 0;
  padding: 0;
  width: 700px;
  height: 700px;
  border-radius: 50%;
  background-color: #fef8ee ;
  border: solid 10px #c14140 ;
}
.card__image{
  position: relative;
  top: 0px;
  left: 0px;
  width: 700px;
  height: 700px;
  border-radius: 50%;
  background-image: url("./img/guratan.jpg");
  background-repeat: no-repeat;

}
.card__text{
  width: 60%;
  margin: 0 auto;
  position: relative;
  top: -230px;
}
.card__text h1{
  text-align: center;
}
.card__text p{
  line-height: 1em;
  margin-top: 0;
  margin-bottom: 0;
}

.gazougomakashi {
    width:100vw;
}
