/* 全体で共通のCSSはこのファイルに記述する */
html {
  width: 100%;
}
body {
  width: 100%;
}

#sansaiSlot {
  position: relative;
  width: 100vw;
  min-height: 500px;
  background-color: pink;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}

#sansaiSlot .items {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: gray;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.slot {
  display: none;
  width: 500px;
  height: 300px;
  background-color: green;
  margin: 0px 10px 0px 10px;
}

.visible {
  display: block!important;
}
