/* 全体で共通のCSSはこのファイルに記述する */
*{
  margin: 0 0;
  padding: 0 0;
}

html {
  width: 100%;
}
body {
  width: 100%;
}

#first_viwe {
  position: relative;
  height:180vh;
  font-weight: normal;
  font-size:12pt;
  font-family:"ヒラギノ明朝 Pro W3",serif;
}

.header-image{
  background-image: url(./img/first.jpg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  padding: 20px 20px 20px 20px;

}
.title{
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width:auto;
  width: 50%;
}

.hazimeni{
  position: relative;
  background-color: #ffffff;
}

.section-title{
  position: relative;
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 240px;
}

#round{
  background-color: #f1e0c4;
  height:1000px;
}
.round1 {
  position:absolute;
  top:350px;
  left:-50px;
  height: 50vw;
  width:50vw;
  background-color: #ffffff;
  border: solid 10px #c14140;
  border-radius: 50%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.round1_inner{
  width:30vw;
  height:30vw;
}

.round2 {
  position:absolute;
  top:600px;
  right:-50px;
  height: 50vw;
  width:50vw;
 background-color: #ffffff;
 border: solid 10px #c14140;
 border-radius: 50%;
 display:flex;
 justify-content: center;
 align-items: center;
}
.round2_inner{
  width:30vw;
  height:30vw;
}


#sansaiSlot {
  position: relative;
  width: 100vw;
  min-height: 500px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 0 100px 0;

}

#sansaiSlot .items {
  position: relative;
  margin: 30px 0 50px 0;
  width: 100%;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}

#sansaiSlot .items .cross{
  width: 30px;

}

.slot {
  position: relative;
  display: none;
  opacity: 0;
  width: 500px;
  height: 300px;
  margin: 0px 10px 0px 10px;
  -webkit-transition: 3.0s ease-in-out;
  -moz-transition: 3.0s ease-in-out;
  transition: 3.0s ease-in-out;
}


.slot .textcard{
  margin-left: 70px;
  width: 50px;
  height: auto;
  padding: 10px 0 10px 0;
  background-color: white;
  box-shadow: 1px 1px 1px 1px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slot .textcard p{
  font-size: 20px;
  width: 20px;
}

.slot img{
  width: 150px;
  position: absolute;
  width: 150px;
  left:calc(50% - 75px);
  bottom: 30px;
  z-index: 500;
}

.slot img.dish{
  position: absolute;
  width: 250px;
  left:calc(50% - 125px);
  bottom: 0px;
}

.visible {
  display: block!important;
  opacity: 1.0;
  -webkit-transition: 3.0s ease-in-out;
  -moz-transition: 3.0s ease-in-out;
  transition: 3.0s ease-in-out;
}

.linecontents{
  width:80%;
  margin: 0 auto;
  display:flex;
  justify-content: space-around;
}
.ui.card, .ui.cards>.card {
    max-width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 290px;
    min-height: 0;
    background: #f1e0c4;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 3px 5px 0 rgba(71, 71, 71, 0.5), 0 0 0 1px rgba(71, 71, 71, 0.5);
    -webkit-transition: box-shadow .1s ease,-webkit-transform .1s ease;
    transition: box-shadow .1s ease,-webkit-transform .1s ease;
    transition: box-shadow .1s ease,transform .1s ease;
    transition: box-shadow .1s ease,transform .1s ease,-webkit-transform .1s ease;
    z-index: '';
    margin-bottom: 200px;
}
.ui.card>.image>img, .ui.cards>.card>.image>img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: .28571429rem;
}
.ui.card>.content, .ui.cards>.card>.content {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    border: none;
    border-top: 1px solid rgba(34,36,38,.1);
    background: 0 0;
    margin: 0;
    padding: 1em;
    box-shadow: none;
    font-size: 1em;
    border-radius: 0;
}
.ui.card>.content>.header:not(.ui), .ui.cards>.card>.content>.header:not(.ui) {
    font-weight: 700;
    font-size: 1.28571429em;
    margin-top: -.21425em;
    line-height: 1.28571429em;
}.ui.card>.content>a.header, .ui.cards>.card>.content>a.header {
    color: rgba(0,0,0,.85);
}
.ui.card>.content a:not(.ui), .ui.cards>.card>.content a:not(.ui) {
    color: '';
    -webkit-transition: color .1s ease;
    transition: color .1s ease;
}
.ui.card>.content>.header, .ui.cards>.card>.content>.header {
    display: block;
    margin: '';
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    color: rgba(0,0,0,.85);
}
.ui.card a, .ui.cards>.card a {
    cursor: pointer;
}
a {
    background: 0 0;
    color: #4183C4;
    text-decoration: none;
}
.ui.card .meta, .ui.cards>.card .meta {
    font-size: 1em;
    color: rgba(0,0,0,.4);
}.ui.card>.content>.header+.description, .ui.card>.content>.meta+.description, .ui.cards>.card>.content>.header+.description, .ui.cards>.card>.content>.meta+.description {
    margin-top: .5em;
}

.ui.card>.content>.description, .ui.cards>.card>.content>.description {
    clear: both;
    color: rgba(0,0,0,.68);
}
.ui.card>.extra, .ui.cards>.card>.extra {
    max-width: 100%;
    min-height: 0!important;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    border-top: 1px solid rgba(0,0,0,.05)!important;
    position: static;
    background: 0 0;
    width: auto;
    margin: 0;
    padding: .75em 1em;
    top: 0;
    left: 0;
    color: rgba(0,0,0,.4);
    box-shadow: none;
    -webkit-transition: color .1s ease;
    transition: color .1s ease;
}
